@use '../base/variables' as variables;
@use '../base/mixins' as mixins;

.apartments {
    overflow: hidden;
    @include mixins.background-number('III', 'before', 1.1);

    &__title {
        margin-bottom: 80px;

        @include mixins.media-lg {
            margin-bottom: 40px;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        @include mixins.media-md {
            grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        }
    }
}