// Fonts
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-accent: 'Playfair Display SC', serif;

// Colors
$primary-color: #d4c17f;
$secondary-color: #ffffff;
$background-color: #242b33;
$footer-bg-color: #2d343c;
$placeholder: #bebebe;
$privacy: #e7e7e7;

// Media
$xxs: 320px;
$xs: 380px;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1440px;
$xxl: 2048px;
